ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#696969;
}

li {
    float: left;
}

li a{
    display: block;
    color:#f0ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover{
    background-color: #ba55d3;
}